.home-container {
    font-family: 'Arial', sans-serif;
    color: #333;
}

/* Hero section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2496ed;
    /* Docker blue */
    color: white;
    padding: 60px 50px;
    border-radius: 8px;
    margin-bottom: 40px;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
}
.hero-content span {
    font-weight: bolder;
    font-size: x-large;
}

.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.hero-btn {
    background-color: #0db7ed;
    color: white;
    padding: 12px 25px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.hero-btn:hover {
    background-color: #007bbf;
}

.hero-image img {
    width: 200px;
}

/* Features section */
.features {
    padding: 0 50px;
}

.features h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.feature-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.feature-card h3 {
    color: #2496ed;
    margin-bottom: 10px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    color: #777;
}